<form [formGroup]="formG" (ngSubmit)="updateInfo()">
    <div>
        <label>name</label>
        <input type="text" formControlName="name" placeholder="Enter the name">
        <div *ngIf="formG.get('name')?.['invalid'] && (formG.get('name')?.['dirty'] || formG.get('name')?.['touched'])">
            <small *ngIf="formG.get('name')?.errors?.['required']">
                Username is required
            </small>
            <small *ngIf="formG.get('name')?.errors?.['minLength'] && !formG.get('name')?.errors?.['required']">Username should be minimum of 5 characters</small>
        </div>
    </div>
    <div>
        <label>Department</label>
        <input type="text" formControlName="department" placeholder="Enter the department">
        <div *ngIf="formG.get('department')?.invalid && (formG.get('department')?.dirty || formG.get('department')?.touched)">
            <small *ngIf="formG.get('department')?.errors?.['required']">Department is required</small>
        </div>
    </div>
    <div>
        <label>Course</label>
        <input type="text" formControlName="course" placeholder="Enter the department">
        <div *ngIf="formG.get('course')?.invalid && (formG.get('course')?.dirty || formG.get('course')?.touched)">
            <small *ngIf="formG.get('course')?.errors?.['required']">Course is required</small>
        </div>
    </div>
    <div>
        <label>Email</label>
        <input type="text" formControlName="email" placeholder="Enter Email">
        <div *ngIf="formG.get('email')?.invalid && (formG.get('email')?.dirty || formG.get('email')?.touched)">
            <small *ngIf="formG.get('email')?.errors?.['required']">Email is required</small>
            <small *ngIf="formG.get('email')?.errors?.['email'] && !formG.get('email')?.errors?.['required']">Email is invalid</small>
        </div>
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="text" formControlName="dob" placeholder="Enter DOB">
        <div *ngIf="formG.get('dob')?.['invalid'] && (formG.get('dob')?.['dirty'] || formG.get('dob')?.['touched'])">
            <small *ngIf="formG.get('dob')?.errors?.['required']">
                Date of Birth is required
            </small>
            <small *ngIf="formG.get('dob')?.errors?.['retVal'] && !formG.get('dob')?.errors?.['required']">
                Date of Birth should be YYYY-MM-DD
            </small>
        </div>
    </div>
    <div>
        <label>Phone Number</label>
        <input type="text" formControlName="phNo" placeholder="Enter phone number">
        <div *ngIf="formG.get('phNo')?.['invalid'] && (formG.get('phNo')?.['dirty'] || formG.get('phNo')?.['touched'])" class="error-msg">
            <small *ngIf="formG.get('phNo')?.errors?.['required']">Phone number is required</small>
            <small *ngIf="formG.get('phNo')?.errors?.['retVal'] && !formG.get('phNo')?.errors?.['required']">Phone number is invalid</small>
        </div>
    </div>
    <div>
        <label>Location</label>
        <input type="text" formControlName="location" placeholder="Enter location">
        <div *ngIf="formG.get('location')?.['invalid'] && (formG.get('location')?.['dirty'] || formG.get('location')?.['touched'])">
            <small *ngIf="formG.get('location')?.errors?.['required']">Location is required</small>
        </div>
    </div>
    <input type="submit" value="Update" [disabled]="formG.invalid"/>
</form>
<div *ngIf="successStatus">
    Updated Successfully!
</div>


<!-- <p>add-students works!</p> -->
