<p>update-student works!</p>
<form [formGroup]="formG" (ngSubmit)="updateInfo()">
    <div>
        <label>name</label>
        <input type="text" formControlName="name" placeholder="Enter the name">
        <div *ngIf="formG.get('name')?.['invalid'] && (formG.get('name')?.['dirty'] || formG.get('name')?.['touched'])">
            <small *ngIf="formG.get('name')?.errors?.['required']">
                Username is required
            </small>
        </div>
    </div>
    <div>
        <label>Date of Birth</label>
        <input type="text" formControlName="dob" placeholder="Enter DOB">
        <div *ngIf="formG.get('dob')?.['invalid'] && (formG.get('dob')?.['dirty'] || formG.get('dob')?.['touched'])">
            <small *ngIf="formG.get('dob')?.errors?.['required']">
                Date of Birth is required
            </small>
            <small *ngIf="formG.get('dob')?.errors?.['pattern']">
                Date of Birth should be YYYY-MM-DD
            </small>
        </div>
    </div>
    <div>
        <label>Phone Number</label>
        <input type="text" formControlName="phNo" placeholder="Enter phone number">
        <div *ngIf="formG.get('phNo')?.['invalid'] && (formG.get('phNo')?.['dirty'] || formG.get('phNo')?.['touched'])">
            <small *ngIf="formG.get('phNo')?.errors?.['required']">
                Phone Number is required
            </small>
            <small *ngIf="formG.get('phNo')?.errors?.['retVal'] && !formG.get('phNo')?.errors?.['required']">
                Phone number is invalid
            </small>
        </div>
    </div>
    <input type="submit" value="Update" [disabled]="formG.invalid"/>
</form>
<div *ngIf="successStatus">
    Updated Successfully!
</div>


<!-- <p>add-students works!</p> -->
